{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{# Sets the page title to "Accueil". #}

{% block body %}
    <h1 class="text-center m-5 display-2">Welcome for the tasks management !!!</h1>
{% endblock %}